<center>
  <h1>Welcome to Study and Test!</h1><br><br>
  <p>
    <a href="/login">Login</a>, or <a href="/signup">SignUp</a> to get started!<br><br>
    You can make your own tests so other people can take them, or you can take
    other peoples tests!
  </p>
</center>
<%= @num  %>
