<!DOCTYPE html>
<html>
  <head>
    <title>Study and Test</title>
  </head>

  <center>
    <a href="">Home</a><br>

    <a href="/login">Login</a>
    <a href="">Signup</a>
  </center>

  <body>
    <%= yield %>
  </body>
</html>
