<br><br>

<center>
  <h1>Create Test</h1>
  <form action="/tests/question" method="POST">
    <label>Name: <input type="text" name="name"></label><br>
    <label>Description: <input type="text" name="description"></label><br>
    <label>Number of questions: <input type="text" name="questions"></label><br>
    <input type="submit" value="submit">
  </form>
</center>
